.container {
  font-size: 30px;
  width: 100%;
  border-collapse: collapse;
}

.backgroundColorIsGray {
  background-color: lightgrey;
}

.headTable {
  color: #ededed;
  background-color: rgb(27, 20, 67);
  border: 1px solid black;
}

.tableStyle {
  padding-left: 50px;
  border: 1px solid black;
}
